
#sign {font-size: 103%; position: absolute; 
    left: 80%; top: 32px; font-weight: 800;
    text-decoration: none; color: black;}

#logo{left: 60px; top: 15px; 
    margin-bottom: 0px; padding: 0%; 
    width: 120px; height: 50px; position: absolute;}

#woman{margin-left: 220px; margin-top: 160px;
    position: absolute;}
/* 아이디 선택자 #woman 적용*/

#hill {text-align: center; font-size: 60px; 
    top: 12%; position: absolute; 
    left: 666px;}

h4 {right: 100px; top: 100%; margin-left: 30px;}
/* 태그 선택자 h4 적용 */

ul {padding: 6px; text-align: center;
    margin: 0 auto; 
    margin-top: 0%; font-size: 20px; }

#dropdown {padding: 20px 0px; text-align: center;
        margin-top: 47px; }
/* margin, padding 적용 */

li a {color: black; text-decoration: none; 
        padding: 5px 10px; text-align: center;
        position: relative;}

li a:hover {background: darkgray; text-align: center;} 
/* 가상클래스 적용해서 리스트 목록에 마우스 올렸을 시 배경색은
 회색으로, 문자 정렬은 정중앙으로 해놓음.*/

li.dropdown {display: inline-block; 
    text-align: center; width: 100px; 
    position: relative;}

/* display 적용으로 수평메뉴를 수평으로 정렬될 수 있게 함.*/

.dropdown-content { display: none; position: absolute;
    background-color: ghostwhite;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);}
/* 클래스 선택자 적용*/


.dropdown-content a {display: block; color: black; 
        padding: 12px 16px;
        text-decoration: none; text-align: center}

.dropdown-content a:hover {background-color: rgb(196, 196, 196);}
.dropdown:hover .dropdown-content {display: block;}        


#list_list {
    text-align: right; position: absolute; 
    left:900px; top: 500px;
}

#gray { position: absolute; left:780px; 
        top: 320px; width: 450px; height: 500px;
        padding: 10px; margin-bottom: 15px;}

/* position 적용*/

#gray_ul {list-style: none; font-size: 120%; 
            text-align: left; line-height: 200%;} 
#jominji { writing-mode: sideways-lr;
            transform: rotate(270deg);
            position: absolute; left: 145px;
            bottom: 358px; color: rgb(81, 81, 81);
            }

h2::first-letter{font-size: 160%;} 
/* 가상 요소 적용. San-Karilam에서 S 문자가 커짐.  */

#email{position: absolute; top: 817px; left: 1057px;}
#phone{position: absolute; top: 850px; left: 1057px;}

table, tr, td {
    border: none;
    border-spacing: 10px;
    position: sticky; margin-top: 46%;
    left: 71%; font-size: 16px;
    font-weight: 360;
}

#location{position: absolute; top: 850px; left: 822px;}
#FAX_PNG{position: absolute; top: 817px; left: 822px;}


#sidebar{float: left; position: absolute; 
        left: 54%; top: 114%; font-weight: 360;}

.FAX {list-style: none; font-size: 16px;
    position: relative; line-height: 110%;}

.ADD2 {position: relative; left: 85%;
       bottom: 17px; }

.ADD2 a {text-decoration: none; color: black;}

/* .ADD1:hover .ADD2{display: block;} */